body{
font-family: Arial;
text-align:center;
background:#f2f2f2;
}

input{
padding:10px;
width:300px;
}

button{
padding:10px 20px;
margin-top:10px;
background:black;
color:white;
border:none;
cursor:pointer;
}